/*
	File: home.css;
	Author: DE
	Date created: 19 Oct 2016
	Date modified: 19 Oct 2016;
*/

.toppicks{
	text-align: center;
}

.picks{
	text-align: center;
}

.advancedSearch {
    border: 1px solid gray;
    padding: 10px;
}

.advancedSearch h3 {
    text-align: center;
}