/*
	File: contact.css;
	Author: DE
	Date created: 19 Oct 2016
	Date modified: 19 Oct 2016;
*/

h3 {
	text-align: center;
    font-family: Verdana, Geneva, sans-serif;
    font-variant: small-caps;
}

.blurb {
	background-color: lightblue;
	min-height: 20em;
	padding: 1em;
	text-indent: 2em;
    font-family: Verdana, Geneva, sans-serif;
}