.head {
    background-color: lightblue;
    padding: 1em;

}

.nav {
	background-color: lightblue;
	padding: 1em;
	border-top: 1px solid;
    border-bottom: 1px solid;
    padding-bottom: 0px;
}

.nav a {
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
    font-variant: small-caps;
    
}

.search {
	position: fixed;
	right: 10;

}




img.logo-head {
    max-width: 20em;

}

footer {
	background-color: lightblue;
	min-width: 100%;
    margin-top: 20px;
    padding-left: 40px;
}

.foot {
	background-color: lightblue;
	min-width: 100em;
}
